@namespace TrouvailleFrontend.Components.Account

@inherits UserChanger

<div>
    <div class='password @(_isChangeDone? " " : "changing")'>
        <h4>Password</h4>
        <EditForm EditContext="@_context" OnSubmit="SubmitAsync">
            <DataAnnotationsValidator />

            <InputText type="password" id="old-password" @bind-Value=_login.Password class="not-required"
                @bind-Value-oninput=_userData.PhoneNumber placeholder="new Password" disabled="@_isChangeDone" />
            <InputText type="password" id="old-password-2" @bind-Value=_login.Password class="not-required"
                @bind-Value-oninput=_userData.PhoneNumber placeholder="repeate new Password" disabled="@_isChangeDone" />
            <InputText type="password" id="new-password" @bind-Value=_login.Password class="not-required"
                @bind-Value-oninput=_userData.PhoneNumber placeholder="old Password" disabled="@_isChangeDone" />

            <button type="submit" class="button-style">@_buttonText</button>
            @if (!_isChangeDone)
            {
                <button type="button" class="button-style button-change" @onclick=ChangeState>Cancel</button>
            }
        </EditForm>
    </div>
</div>

@code{
    private LoginModel _login = new();
}