@namespace TrouvailleFrontend.Components.Index

@using TrouvailleFrontend.Shared.Models

@inject NavigationManager NavMan

<div class="product" @onclick="Do">
    <img class="product-picture center-flex" src="assets/svg/trouvailleLogoBucketMinimized.svg"
        alt="Image loading Error">
    <div class="info-wrapper">
        <div class="product-name info-field">
            <p>@product.ProductId</p>
        </div>
        <div class="product-stars info-field">
            <p>@product.Rating</p>
        </div>
        <div class="product-cost info-field">
            <p>@product.Price</p>
        </div>
        <div class="product-amount-left info-field">
            <p>@product.InStock</p>
        </div>
        <div class="product-short-info info-field">
            <p>@product.Description</p>
        </div>
    </div>
</div>

@code{
    [ParameterAttribute]
    public ProductModel product { get; set; }

    private void Do()
    {
        NavMan.NavigateTo($"/product/{product.ProductId}");
    }
}