@namespace TrouvailleFrontend.Components.Checkout

@using TrouvailleFrontend.Shared.Models

<div class="address-container">
    <h4 class="header">@AddressFor</h4>
    <InputSelect @bind-Value=AddressM.Country @bind-Value-oniput="AddressM.Country" class="country"
        disabled="@IsDisabled">
        <option value="" selected disabled hidden>Select Your Country</option>
        <option value="Germany">Germany</option>
        <option value="Estonia">Estonia</option>
        <option value="Great Britain">Great Britain</option>
        <option value="USA">USA</option>
        <option value="Polland">Polland</option>
    </InputSelect>
    <InputNumber @bind-Value=AddressM.PostalCode @bind-Value-oniput="AddressM.PostalCode" class="post-code"
        placeholder="Postal" disabled="@IsDisabled" />
    <InputText @bind-Value="AddressM.CityName" @bind-Value-oniput="AddressM.CityName" class="city" placeholder="City"
        disabled="@IsDisabled" />
    <InputText @bind-Value=AddressM.State @bind-Value-oniput="AddressM.State" class="state" placeholder="State"
        disabled="@IsDisabled" />
    <InputText @bind-Value=AddressM.Street @bind-Value-oniput="AddressM.Street" class="street" placeholder="Street"
        disabled="@IsDisabled" />
    <InputNumber @bind-Value=AddressM.StreetNumber @bind-Value-oniput="AddressM.StreetNumber" class="street-number"
        placeholder="Str. Nr." disabled="@IsDisabled" />
</div>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

@code {
    [Parameter]
    public bool IsDisabled { get; set; }
    [Parameter]
    public string AddressFor { get; set; }
    [Parameter]
    public AddressModel AddressM { get; set; }
    [Parameter]
    public EventCallback<AddressModel> AddressMChanged { get; set; }
}