@namespace TrouvailleFrontend.Components.Checkout

<div class="product-view">
    <img src="assets/svg/trouvailleLogoBucketMinimized.svg" alt="image error" class="image">
    <div class="name">
        <p>@Name</p>
    </div>
    <div class="price">
        <p>Price: @_priceCalculated<br />
            <sub>per item: @_price</sub>
        </p>
    </div>
    <div class="cardinality">
        <p>Shopping cart: @Cardinality</p>
    </div>
    <div class="stock">
        <p>@_stock</p>
    </div>
</div>

@code{
    private string _stock;
    private string _priceCalculated;
    private string _price;
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public int Stock { get; set; }
    [Parameter]
    public double Price { get; set; }
    [Parameter]
    public int Cardinality { get; set; }

    protected override void OnInitialized()
    {
        _priceCalculated = String.Format("{0:C}", Price * Cardinality);
        _price = String.Format("{0:C}", Price);
        _stock = StockConverter.ParseStockToString(Stock);
    }
}