@page "/product/{Id}"

@using System.Collections.Generic
@using TrouvailleFrontend.Components.Shared
@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Shared.Classes.Interfaces


@inject IJSRuntime JSRuntime
@inject ILocalStorage localStorage
@inject IHttpRequest httpRequest
@inject IProductsRetriever productRetriever

<div>
    <div class="product">
        @if (_product != null)
        {
            <div class="product-image main-container-style">
                <img class="product-picture center-flex" src="data:image/png;base64,@_product.Picture.ImageData"
                alt="Image loading Error">
            </div>

            <div class="product-description main-container-style">
                <div class="product-name">
                    <h1>@_product.Name</h1>
                </div>
                <h3>Description:</h3>
                <div class="description-wrapper">
                    <section>@_product.Description</section>
                </div>
            </div>

            <div class="product-controls main-container-style">
                <div class="stars">
                    <StarsView Product=_product Classes="product-stars" />
                </div>
                <div class="price">
                    <h2>Price: @_price</h2>
                </div>
                <div class="stock">
                    <h4>@_stock</h4>
                </div>
                <div class="number-in-shopping-cart">
                    <h4>In
                        <Icon Name="IconName.ShoppingCart" />: @_amountInShoppingCart
                    </h4>
                </div>
                <div class="to-shopping-cart">
                    <button class="button-style" @onclick="@addToCart">
                        <Icon Name="IconName.CartPlus" />
                    </button>
                </div>
            </div>
        }
        <div class="product-rating main-container-style">
            <div class="overlay-under-construction">
                <p>Under Construction</p>
            </div>
        </div>
    </div>
    <div class="rating">
        <!-- Not Implemented -->
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }
    public int Amount { get; set; } = 1;

    private string _stock;
    private string _price;
    private ProductModel _product;
    private int _amountInShoppingCart = 0;

    List<ShoppingCartItemModel> shoppingCart = new List<ShoppingCartItemModel>();


    public async void addToCart()
    {
        bool alreadyInShoppingCart = false;
        foreach (var item in shoppingCart)
        {
            if (item.ProductId.Equals(_product.ProductId))
            {
                alreadyInShoppingCart = true;
                item.Cardinality += Amount;
                _amountInShoppingCart = item.Cardinality;
            }
        }
        if (!alreadyInShoppingCart)
        {
            shoppingCart.Add(new ShoppingCartItemModel() { ProductId = _product.ProductId, Cardinality = Amount });
            _amountInShoppingCart += Amount;
        }

        await localStorage.SetStorageAsync<List<ShoppingCartItemModel>>("shoppingCart", shoppingCart);

    }


    protected override async Task OnInitializedAsync()
    {
        _product = await productRetriever.GetProductByIdAsync(Id);
        shoppingCart = await localStorage.GetStorageAsync<List<ShoppingCartItemModel>>("shoppingCart");

        foreach (var sc in shoppingCart)
        {
            if (sc.ProductId.Equals(_product.ProductId))
            {
                _amountInShoppingCart = sc.Cardinality;
            }
        }

        _stock = StockConverter.ParseStockToString(_product.InStock);

        _price = String.Format("{0:C}", _product.Price);
    }
}